.container_c{
	margin: 20px auto;
	width: 980px;
}
.article_title_c{
	text-align: center;
	font-size: 18px;
	font-weight: 700px;
}
.article_desc_c{
	text-align: center;
	font-size: 14px;
	color: #ccc;
	margin-top: 10px;
}
.article_content_c{
	font-size: 16px;
	margin-top: 20px;
}
.article_title_c{
	    color: #555;
    font-size: 26px;
}