a{
	text-decoration: none;
	/* color: transparent; */
}
html,body{
	width: 900px;
	margin: 0 auto;
	font-family: 	Microsoft YaHei;
}
.head_iframe_c{
	height: 215px;
	width: 100%;
	border: 0;
}
.onkey_top_div_c{
	position: fixed;
	right: 2%;
	bottom: 2%;
	cursor: pointer;
	display: none;
}