<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ren.blog.dao.ArticleDao" >
  
  <sql id="article_col">
  	a.article_id,article_title,article_content,date_format(article_createtime,'%Y-%m-%d %H:%i:%s') article_createtime
  	,date_format(article_updatetime,'%Y-%m-%d %H:%i:%s') article_updatetime,a.channel_id,article_status,c.channel_name
  </sql>
  
  
  <!-- 获取文章列表 -->
  <select id="getList" resultType="com.ren.blog.bean.ArticleBean">
  	select <include refid="article_col"></include>
  	from blog_article a inner join blog_channel c on a.channel_id = c.channel_id
  	 order by article_updatetime desc,article_createtime desc
  </select>
  
  <!-- 文章总个数 -->
  <select id="getArticleCount" resultType="int">
  	select count(*)  from blog_article 
  </select>
	
  <!-- 删除文章 -->
  <delete id="deleteArticleByIds" parameterType="int" >
  		delete from blog_article where article_id in
  		<foreach collection="array" item="ids" open="(" close=")" separator=",">
  		 #{ids}
  		</foreach>
  </delete>
  
  <!-- 新增文章 -->
  <insert id="addArticle" parameterType="com.ren.blog.bean.ArticleBean" useGeneratedKeys="true" keyProperty="article_id">
  	insert into blog_article(article_title,article_content,article_createtime,article_updatetime,
  	article_status,channel_id,article_remark)
  	values(#{article_title},#{article_content},#{article_createtime},#{article_updatetime},#{article_status},
  	#{channel_id},#{article_remark})
  </insert>
  
  <select id="getArticleById" parameterType="int" resultType="com.ren.blog.bean.ArticleBean">
  	select <include refid="article_col"></include>
  	from blog_article a inner join blog_channel c on a.channel_id = c.channel_id
  	 where a.article_id =#{article_id}
  </select>
  
  <select id="getArticleByIdAndPublic" parameterType="int" resultType="com.ren.blog.bean.ArticleBean">
  	select <include refid="article_col"></include>
  	from blog_article a inner join blog_channel c on a.channel_id = c.channel_id
  	 where a.article_id =#{article_id} and article_status = 1 
  </select>
  
  <update id="updateArticle" parameterType="com.ren.blog.bean.ArticleBean" useGeneratedKeys="true" keyProperty="article_id">
  		update blog_article set article_title =#{article_title},article_content=#{article_content},article_remark=#{article_remark},
  		article_updatetime=#{article_updatetime} ,channel_id=#{channel_id},article_status=#{article_status} where article_id=#{article_id}
  </update>
  
  <!-- 按照更新时间-发布时间的顺序 获取所有已发布的文章列表(不包括内容,包括文章内容摘要) -->
  <select id="getAllList" resultType="com.ren.blog.bean.ArticleBean" >
  	  select  article_id,article_title,date_format(article_createtime,'%Y-%m-%d %H:%i:%s') article_createtime
  	,date_format(article_updatetime,'%Y-%m-%d %H:%i:%s') article_updatetime,
  	date_format(article_updatetime,'%m-%d') article_monthsday,
  	date_format(article_updatetime,'%Y') article_year,
  	date_format(article_updatetime,'%m') article_months,
  	article_remark,
  	a.channel_id,c.channel_name 
  	from blog_article  a inner join blog_channel c on a.channel_id = c.channel_id where article_status = 1
  	 order by article_updatetime desc,article_createtime desc
  </select>
  
  <update id="updateArticleStatus" parameterType="com.ren.blog.bean.ArticleBean" >
  		update blog_article set article_status=#{article_status} where article_id = #{article_id}
  </update>
  
  <select id="getArticleByChannelId" parameterType="int" resultType="com.ren.blog.bean.ArticleBean">
  		select <include refid="article_col"></include>
  	from blog_article a inner join blog_channel c on a.channel_id = c.channel_id
	where a.channel_id =#{channel_id} and  a.article_status=1
	 order by article_updatetime desc,article_createtime desc
  </select>
  
    <select id="getArticleByTagId" parameterType="int" resultType="com.ren.blog.bean.ArticleBean">
  		select  	a.article_id,article_title,article_content,date_format(article_createtime,'%Y-%m-%d %H:%i:%s') article_createtime
  	,date_format(article_updatetime,'%Y-%m-%d %H:%i:%s') article_updatetime,a.channel_id,article_status,t.tag_name
  		 from blog_article a inner join blog_article_tag atg on a.article_id = atg.article_id
	left join blog_tag t on t.tag_id = atg.tag_id
	where t.tag_id=#{tag_id} and a.article_status=1
 	 order by article_updatetime desc,article_createtime desc
  </select>
  
</mapper>