<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ren.blog.dao.PersonDao" >
  <select id="findall" resultType="com.ren.blog.bean.PersonBean">
  	 select id,name,password from person
  </select>
  
</mapper>