<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ren.blog.dao.TagDao" >
  
  <sql id="tag_col">
  	tag_id,tag_name 
  </sql>
  
  <!-- 新增标签 -->
  <insert id="addTag" parameterType="com.ren.blog.bean.TagBean">
  	insert into blog_tag(tag_name)
  	values(#{tag_name})
  </insert>
  
  <!-- 获取标签列表 -->
  <select id="getList" resultType="com.ren.blog.bean.TagBean">
  	select <include refid="tag_col"></include>
  	from blog_tag  
  </select>
  
  <select id="getTagByNames" parameterType="String" resultType="com.ren.blog.bean.TagBean">
  	select tag_id,tag_name from blog_tag where
  	tag_name in
  	<foreach collection="array" item="tagNames" open="(" close=")" separator=",">
  		#{tagNames}
  	</foreach>
  </select>
  
  <select id="getTagCount" resultType="int">
  	select count(*)  from blog_tag 
  </select>
  
  <!-- 根据标签id获取标签 -->
  <select id="getTagById" resultType="com.ren.blog.bean.TagBean" parameterType="int">
  	select <include refid="tag_col"></include>
  	from blog_tag  where tag_id =#{tag_id}
  </select>
  
  <!-- 更新标签 -->
  <update id="updateTag" parameterType="com.ren.blog.bean.TagBean">
  	update blog_tag set tag_name=#{tag_name}
  		where tag_id =#{tag_id}
  </update>
  <!-- 删除标签 -->
  <delete id="deleteTagByIds" parameterType="int">
  	delete from blog_tag where 
  	tag_id in 
  		<foreach collection="array" item="ids" open="(" close=")" separator=",">
  			#{ids}
  		</foreach>
  </delete>
  
  <insert id="addTagList"  parameterType="java.util.List" useGeneratedKeys="true" keyProperty="tag_id" >
  	insert into blog_tag(tag_name)
  	values
	<foreach collection="list" item="tag" separator="," index="index" >
		(#{tag.tag_name})
	</foreach>
	
  </insert>
  
  <insert id="addArticleTagList">
  		insert into blog_article_tag(tag_id,article_id)
  	values
	<foreach collection="list" item="tag" separator=",">
		(#{tag.tag_id},#{tag.article_id})
	</foreach>
  </insert>
  
  <delete id="deleteArticleTagByList" parameterType="java.util.List">
  		delete from blog_article_tag where (tag_id,article_id) in 
  		<foreach collection="list" item="tag" separator="," open="(" close=")">
		 (#{tag.tag_id},#{tag.article_id})
	</foreach>
  </delete>
  
  <delete id="deleteArticleTagByArticleId" parameterType="int">
  		delete from blog_article_tag where article_id = #{article_id}
  </delete>
  
  <select id="getArticleTagByArticleId" parameterType="int" resultType="com.ren.blog.bean.ArticleTagBean">
  	select at.article_tag_id ,at.tag_id,t.tag_name,at.article_id from blog_article_tag at 
  		inner join blog_tag t on at.tag_id = t.tag_id
  	 where at.article_id = #{article_id}
  </select>
  
  <select id="getListAritcle"  resultType="com.ren.blog.bean.TagBean">
  		select DISTINCT t.tag_id ,t.tag_name from blog_tag t inner join blog_article_tag atg on t.tag_id = atg.tag_id 
  		inner join blog_article a on a.article_id = atg.article_id
		where a.article_status =1 
  </select>
</mapper>